.btn{margin:10px;}

img{height:200px;margin:10px;}
.container{background-color:#6abe45; padding: 20px; border-radius: 10px;margin:30px auto;border-style: solid; border-width: 10px;border-color: white;}
body{background-image: url("https://getbombsaway.com/wp-content/uploads/2016/09/Brown-Spot-Treatment-Illustration.jpg");}
.banner{color: white;border-style: solid; border-width: 10px;border-color: white;height:250px;background-color: #6abe45;font-family: 'Monoton', cursive;font-size: 80px; text-align: center;}